.window{
    position: absolute; 
    padding: 10px; 
    border: solid #af885b; 
    width: fit-content; 
    height: fit-content; 
    max-height: 100%;
    border-radius: 16px; 
    background-color: #ffffff;
}
.innerwindow{
    border: solid #af885b; 
    background-color: #f4e0c9; 
    border-radius: 16px; 
    margin-top: 10px; 
    padding: 16px;
}
.windowheader{
    height: 32px;
    cursor: grab;
    margin: 0px;
    width: 100%;
    background-color: rgba(164, 164, 164, 0.5);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.closebutton {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    margin-right: 8px; 
    cursor: pointer; 
    background-color:#c33333; 
    border: 1px solid #000000;
    border-radius: 5px; 
    display: flex; 
    align-items: flex-end;
    justify-content: center;
}
.bartext {
    min-width: 10px; 
    max-width: 50px; 
    display: inline-block; 
    overflow-x: auto; 
    white-space: nowrap;
    min-height: auto;
    scrollbar-width: none;
    font-family: FreeMono, monospace;
    pointer-events: none;
}
.selected {
    cursor:pointer;
    padding: 5px;
    width: fit-content;
    height: fit-content;
    display:flex;
    flex-direction: column;
    margin: 0px;
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
}